.featuresSection {
  min-height: calc(100vh - 56px);
  box-shadow: inset 0 19px 14px 0px #2929290f, inset 0 -19px 14px 0px #2929290f;
}
.featCard p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(0, 0, 0, 0.8) !important;
}
.featCard {
  transition: color 2s;
}
.featCard:hover p {
  color: rgba(0, 0, 0, 1) !important;
}
.featCard p {
  font-weight: 400;
}
